

@{
    ViewData["CssLink"] = " /assets/css/basket.css";
    ViewData["JsSource"] = "/assets/js/basket.js";
}
<section class="basket-cart">
    <div class="container">
        <div class="cart">
            <div class="title">
                <div class="cart-title">Your Card <span>(5 items)</span></div>
                <div class="book-price-title">Each</div>
                <div class="counter-title">QYT</div>
                <div class="total-price-title">Total</div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart-child">
                <div class="image-container">
                    <a href="#">
                        <img src="../images/book-example5.avif" />
                    </a>
                </div>
                <div class="cart-child-book-description">
                    <div class="description">
                        <a href="#">
                            <p class="description-title">BoolName</p>
                            <p>This is Book Description for you</p>
                            <p>BookType</p>
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="book-price">
                            <p>28.50$</p>
                        </div>
                        <div class="book-count-in-busket">
                            <div>
                                <a href="#"><i class="fa-solid fa-minus"></i></a>
                                <p>2</p>
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="total-book-price">57.00$</div>
                    </div>
                    <div class="stock-position">
                        <p class="in-stock">
                            <i class="fa-regular fa-circle-check"></i>In stock
                            <span>
                                We have this book in our stock<i class="fa-regular fa-face-smile"></i>
                            </span>
                        </p>
                        <!-- <p class="ended">
                          <i class="fa-regular fa-circle-xmark"></i>Ended
                          <span
                            >Sorry,but this book isn't in stock
                            <i class="fa-regular fa-face-frown-open"></i
                          ></span>
                        </p> -->
                    </div>
                    <div class="delete-button">
                        <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-count">
            <div class="total-count-fixed">
                <div class="total-count-inner">
                    <div class="inner-title">
                        <p>Order Summary</p>
                    </div>
                    <div class="payment-detail">
                        <p>Total</p>
                        <p>28.50$</p>
                    </div>
                    <div class="payment">
                        <a href="#">
                            <p>Checkout<i class="fa-solid fa-lock"></i></p>
                        </a>
                    </div>
                </div>
                <div class="for-help">
                    <div class="payment-method">
                        <h4>Accepted Payment Methods:</h4>
                        <div>
                            <img src="../images/payment-method-stripe.png" alt="" />
                        </div>
                    </div>
                    <div class="number">
                        <h3>Need help?</h3>
                        <p><i class="fa-solid fa-phone-volume"></i> +612 9045 4394</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>