@model LayoutHeaderVM

<header>
    <div class="header-top">
        <div class="container">
            <div class="content">
                <div class="header-top-left location">
                    <a  >
                        <span>
                            <i class="fa-solid fa-location-dot"
                               style="color: #ffffff"></i>
                        </span>
                        <span>Ordering for christmas?Estimate your del...</span>
                    </a>
                </div>
                <div class="header-top-left">
                    <a>
                        <span>@Model.SettingKeyValue["Number"]</span>
                    </a>
                </div>
                <div class="facebook-like">
                    <a href="#">
                        <img src="~/images/facebook-like-header.png" alt="" />
                    </a>
                </div>
                <div class="header-top-links">
                    
                    <div>
                        <a href="#">
                            <i class="fa-regular fa-heart" style="color: #ffffff"></i>
                            <span> My Wish Lists</span>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a>
                                <i class="fa-regular fa-user" style="color: #ffffff"></i>
                                <span>@User.Identity.Name</span>
                            </a>
                            <a asp-controller="account" asp-action="logout" >
                                <i class="fa-regular fa-user" style="color: #ffffff"></i>
                                <span>Logout</span>
                            </a>
                            @if (User.IsInRole("Admin"))
                            {

                                <a asp-area="AdminArea" asp-controller="dashboard" asp-action="index">
                                    <i class="fa-regular fa-user" style="color: #ffffff"></i>
                                    <span>AdminPanel</span>
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-controller="account" asp-action="login">
                                <i class="fa-regular fa-user" style="color: #ffffff"></i>
                                <span>Login/ Join</span>
                            </a>
                        
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main-content">
        <div class="container">
            <div class="header-main-content-left">
                <img class="logo" src="~/images/header-logo.png" alt="" />
                <a href="#"></a>
                <img src="~/images/header-logo-upper.svg"
                     class="header-logo-upper"
                     alt="" />
            </div>
            <div class="header-main-content-right">
                <form>
                    <div class="search">
                        <input type="text" placeholder="Search title,Author or ISBN" />
                        <span>
                            <select name="" id="">
                                <option value="">Book</option>
                                <option value="">eBook</option>
                                <option value="">aBook</option>
                            </select>
                        </span>
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"
                               style="color: #ffffff"></i><span id="search-word">Search</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="nav">
    <div class="container">
        <div class="drawer-btn">
            <button class="drawer-open-btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <ul class="nav-list">
            <li><a asp-controller="bookhome" asp-action="index">Book</a></li>
            <li><a asp-controller="Ebook" asp-action="index">EBook</a></li>
            <li><a asp-controller="Abook" asp-action="index">AudioBook</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Magazines</a></li>
            <li><a href="#">Stationary</a></li>
            <li><a href="#">Gift Ideas</a></li>
        </ul>
        <div class="nav-right">
            <div class="busket-icon">
                <span>0 items</span>
                <i class="fa-solid fa-cart-shopping" style="color: #000000"></i>
            </div>
            <div class="checkout"><a href="#">Checkout</a></div>
        </div>
    </div>
</div>
<div class="drawer">
    <div class="drawer-cancel-button">
        <button class="drawer-cancel-btn">
            <i class="fa-solid fa-x" style="color: #ffffff"></i>
        </button>
    </div>
    <ul class="drawer-nav-list">
        <li><a asp-controller="bookhome" asp-action="index">Book</a></li>
        <li><a href="#">EBook</a></li>
        <li><a asp-controller="Abook" asp-action="index">AudioBook</a></li>
        <li><a href="#">Games&Puzzles</a></li>
        <li><a href="#">Magazines</a></li>
        <li><a href="#">Stationary</a></li>
        <li><a href="#">Gift Ideas</a></li>
    </ul>
    <hr />
    <div class="drawer-links">
        <a href="#">
            <i class="fa-regular fa-bell" style="color: #000000"></i>
            <span>Notifications</span>
        </a>
        <div>
            <a href="#">
                <i class="fa-regular fa-heart" style="color: #000000"></i>
                <span> My Wish Lists</span>
            </a>
            <a asp-controller="account" asp-action="login">
                <i class="fa-regular fa-user" style="color: #000000"></i>
                <span>Login/ Join</span>
            </a>
        </div>
    </div>
</div>
<div class="header-in-scroll">
    <div class="container">
        <div class="drawer-btn">
            <button class="drawer-open-btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <div class="header-main-content-right">
            <form>
                <div class="search">
                    <input type="text" placeholder="Search title,Author or ISBN" />
                    <span>
                        <select id="">
                            <option value="">Book</option>
                            <option value="">eBook</option>
                            <option value="">aBook</option>
                        </select>
                    </span>
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"
                           style="color: #ffffff"></i>Search
                    </button>
                </div>
            </form>
        </div>
        <div class="nav-right">
            <div class="busket-icon">
                <span>0 items</span>
                <i class="fa-solid fa-cart-shopping" style="color: #000000"></i>
            </div>
            <div class="checkout"><a href="#">Checkout</a></div>
        </div>
    </div>
</div>