@model ForgetPasswordVM

@{
    ViewData["CssLink"] = " /assets/css/login-signup.css";
}


<div class="login">
    <div class="title">
        <h2>ForgetPassword</h2>
        <p>Write your ew Password</p>
    </div>
    <div class="form-in-login">
        <form method="post" asp-controller="account" asp-action="ForgetPassword">
       
            <div>
                <input asp-for="Email" placeholder="Enter your Password" />
                <span asp-validation-for="Email" style="color:red;">
                </span>
                <button class="create-account" type="submit" asp-controller="account" asp-action="ForgetPassword">Send</button>
                <div class="forget-password-remember-me">
                </div>

            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>