@model RegisterVM
@{
    ViewData["CssLink"] = " /assets/css/login-signup.css";
}

<div class="login">
    <div class="title">
        <h2>Sign Up</h2>
        <p>Sign Up to get a lot of opportunities</p>
    </div>
    <div class="form-in-login">
        <form method="post" asp-controller="account" asp-action="register">
            <div asp-validation-summary="All" style="color:red;text-align:center;">
            </div>
            <div>
                <input asp-for="FullName" placeholder="FullName " />
                <span asp-validation-for="FullName" style="color:red;text-align:center;"></span>
            </div>
            <div>
                <input asp-for="UserName" placeholder="UserName" />
                <span asp-validation-for="UserName" style="color:red;text-align:center;"></span>
            </div>
            <div>
                <input asp-for="Email" placeholder="Email" />
                <span asp-validation-for="Email" style="color:red;text-align:center;"></span>
            </div>
            <div>
                <input asp-for="Password" placeholder="Password" type="password"/>
                <span asp-validation-for="Password" style="color:red;text-align:center;"></span>
            </div>
            <div>
                <input asp-for="RepeatPassword" placeholder="RepeatPassword" type="password"/>
                <span asp-validation-for="RepeatPassword" style="color:red;text-align:center;"></span>
            </div>
            <div>
              
                <button asp-controller="account" asp-action="register" class="create-account" type="submit">Create</button>
                <div class="email-confirm">
                    <a href="##">Confirm with your Email</a>
                </div>
                <span></span>
            </div>
        </form>
    </div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>