@model RegisterVM

<div class="login">
    <div class="title">
        <h2>Sign Up</h2>
        <p>Sign Up to get a lot of opportunities</p>
    </div>
    <div class="form-in-login">
        <form method="post" asp-controller="account" asp-action="register">
            <div>
                <input asp-for="FullName" placeholder="Username " />
                <span><!-- "asp-validation-for" ucun! --></span>
            </div>
            <div>
                <input asp-for="UserName" placeholder="FulName" />
                <span><!-- "asp-validation-for" ucun! --></span>
            </div>
            <div>
                <input asp-for="Email" placeholder="Email" />
                <span><!-- "asp-validation-for" ucun! --></span>
            </div>
            <div>
                <input asp-for="Password" placeholder="Password" />
                <span><!-- "asp-validation-for" ucun! --></span>
            </div>
            <div>
                <input asp-for="RepeatPassword" placeholder="Password" />
                <span><!-- "asp-validation-for" ucun! --></span>
            </div>
            <div>
                <input type="password" placeholder="Repeat Password" />
                <button asp-controller="account" asp-action="register" class="create-account" type="submit">Create</button>
                <div class="email-confirm">
                    <a href="##">Confirm with your Email</a>
                </div>
                <span><!-- "asp-validation-for" ucun! --></span>
            </div>
        </form>
    </div>
</div>


<script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>