@model ResetPasswordVM

@{
    ViewData["CssLink"] = " /assets/css/login-signup.css";
}


<div class="login">
    <div class="title">
        <h2>Reset Password</h2>
        <p>Write your new Password</p>
    </div>
    <div class="form-in-login">
        <form method="post" asp-controller="account" asp-action="resetpassword">
            <input type="hidden" name="email" value="@ViewData["Email"]" />
            <input type="hidden" name="token" value="@ViewData["Token"]" />
            <div>
                <input asp-for="Password" type="password" placeholder="Enter your new Passsword" />
                <span asp-validation-for="Password" style="color:red;"></span>
            </div>
            <div>
                <input asp-for="ConfirmPassword" type="password" placeholder="Repeat your new  Password" />
                <span asp-validation-for="ConfirmPassword" style="color:red;"></span>
                <button class="create-account" type="submit" asp-controller="account" asp-action="resetpassword">Confirm</button>
                <div class="forget-password-remember-me">
                </div>

            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>