<footer>
    <div class="container">
        <div class="subscribe">
            <div class="subscribe-title">
                <h2>SUBSCRIBE OUR NEWSLETTER</h2>
                <p>ubscribe to our website to get lots of information</p>
            </div>
            <div class="subscribe-form-part">
                <form class="subscribe-form">
                    <input type="text" placeholder="Enter your Email" />
                    <button type="text"><p>Subscribe</p></button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-inner">
        <div class="container">
            <p>Created by &reg; Rustemli Atilla</p>
        </div>
    </div>
</footer>